/plugin/buildSrc/out/
/plugin/out/
/site/.frontend-gradle-plugin
/site/.nuxt/
/site/.pnp.*
/site/.yarn/
!/site/.yarn/patches
!/site/.yarn/plugins
!/site/.yarn/releases
!/site/.yarn/sdks
!/site/.yarn/versions
/site/dist/
/site/node/
/site/node_modules/
.idea/
.gradle/
build/
