// // Bootstrap variables override (full list in _variables.scss)
$font-size-base: 1rem;
$headings-font-family: EtelkaTextPro, Helvetica, Arial, sans-serif;
$h1-font-size: $font-size-base * 1.75;
$h2-font-size: $font-size-base * 1.5;
$h3-font-size: $font-size-base * 1.25;
$h4-font-size: $font-size-base;
$h5-font-size: $font-size-base;
$h6-font-size: $font-size-base;
$body-bg-dark: #000000;

// // Custom variables
$etelkaTextProFontFile: '@/public/EtelkaTextPro.otf';
