name: Publish plugins

on:
  workflow_dispatch:

jobs:
  build:
    name: Publish
    runs-on: ubuntu-24.04

    steps:
      - name: Init environment
        run: sudo rm -f /usr/local/bin/node /usr/local/bin/npm /usr/local/bin/pnpm /usr/local/bin/yarn

      - name: Git checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '21'
          architecture: x64

      - name: Cache Gradle's cache and wrapper
        uses: actions/cache@v4
        with:
          path: |
            ~/.gradle/caches/
            ~/.gradle/wrapper/
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle-

      - name: Grant executable permission
        run: chmod +x gradlew

      - name: Publish plugins
        env:
          GRADLE_PUBLISH_KEY: ${{ secrets.GRADLE_PUBLISH_KEY }}
          GRADLE_PUBLISH_SECRET: ${{ secrets.GRADLE_PUBLISH_SECRET }}
        run: ./gradlew :plugins:frontend-jdk11:publishPlugins :plugins:frontend-jdk17:publishPlugins :plugins:frontend-jdk21:publishPlugins --console=plain

      - name: Stop Gradle before caching
        run: ./gradlew -stop
